
Library/CurrentLayout.dwlt
Library/
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/__Backupscenes/0.backup
Temp/UnityLockfile
Library/LastSceneManagerSetup.txt
Library/CurrentLayout.dwlt
Library/metadata/
